.alert-box {
  position: relative;
  top: 10vh;
  left: 20%;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
  text-align: right;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}
h3 {
  text-align: center;
}
.text-center {
  text-align: center;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
